<div class="page-content container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-wrapper">
        <div class="box">
          <div class="content-wrap">
            <h1><%= t ".signup" %></h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t("users.new.label_email"),  class: "form-control" %>

            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: t("users.new.label_password"), class: "form-control" %><br />

            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t("users.new.label_password"), class: "form-control" %><br />

            <div class="actions">
              <%= f.submit t("title_s"), class: "btn btn-accent btn-lg btn-block" %>
            </div>
            <% end %>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
