<% if comment.user.present? && comment.parent.nil? %>
  <div class="ps-review">
    <div id="comment-<%= comment.id %>">
      <div class="ps-review__thumbnail">
        <%= image_tag "user/girl.jpg" %>
      </div>
      <div class="ps-review__content">
        <p class="media-heading"><%= comment.user_name %> - <%= time_ago_in_words comment.created_at %> <%= t "ago" %></p>
        <div class="comment-<%= comment.id %>">
          <p class="comment-content"><%= comment.content %></p>
            <div class="option-comment">
              <% if user_signed_in? && can_edit_comment?(comment) %>
                <%= link_to t("edit"), edit_product_comment_path(comment.product, comment),
                  class: "btn btn-link", remote: true %>
                <%= link_to t("delete"), product_comment_path(comment.product, comment),
                  class: "btn btn-link", remote: true, method: :delete, data: {confirm: t("confirm_delete")} %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to t("reply_text"), new_product_comment_path(comment.product, comment_id: comment.id), remote: true, class: "btn btn-link" %>
              <% end %>
            </div>
          <% if comment.reply_comments.present? %>
            <div class="reply-content">
              <%= render partial: "comments/subcomment", collection: comment.reply_comments, as: :comment %>
            </div>
          <% end %>
          <hr>
        </div>
        <div id="reply-form-<%= comment.id %>"></div>
      </div>
    </div>
  </div>
<% end %>
