<div class="col-xs-10">
  <%= form_for [@product, current_user.ratings.build], remote: true,
    authenticity_token: true do |f| %>
    <fieldset class="rating">
      <% 5.times do |x| %>
        <%= f.radio_button :starts, x+1, class: "star-#{x+1}" %>
        <label for="rating_starts_<%= x+1 %>"><%= t "star_#{x+1}" %></label>
      <% end %>
    </fieldset>
    <%= f.submit t("button_rate"), id: "submit-rating", class: "btn btn-danger" %>
  <% end %>
</div>
