<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td><%= user.address %></td>
  <td><%= user.phone %></td>
  <td>
    <% if user.active %>
      <span class="status text-success"><%= t ".active" %></span>
    <% else %>
      <span class="status text-danger"><%= t ".inactive" %></span>
    <% end %>
  </td>
</tr>

